.cart-wrapper {
  margin: calc(var(--spacing-xl) * 2) 0;
}

.cart-head {
  margin-bottom: calc(var(--spacing-xl) * 2);
}

.quantity-view {
  border: 1px solid var(--border-color);
  border-radius: 4px;

  padding: 10px;

  width: calc(var(--spacing-md) * 2);
  height: calc(var(--spacing-md) * 2);
}

.item-details {
  margin: var(--spacing-md) 0;
}

.price {
  font-weight: bold;
}
.total-amount {
  color: var(--black-color);
  font-weight: bold;
}

.cart-action > button {
  width: 100%;
  margin: 10px;
  font-weight: 700;
  font-family: "Poppins";
}