.filter-product-wrapper {
  display: grid;
  grid-template-columns: 15rem 1fr;
  margin-top: 7rem;
}

.pd-wrapper{
  height: fit-content;
}

.filter {
  padding: 0 1rem;
  color: var(--heading-text-color);
}
.filter-head {
  margin-bottom: 1rem;
}

.filter-section > * {
  margin: 1rem 0;
  list-style-type: none;
}

.filter-section > li > * {
  margin-left: 10px;
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

.filter-section-title {
  font-weight: bold;
}

.mobile-filter-button{
  display: none;
}

@media (max-width: 700px) {
  .filter{
    display: none;
  }
  .filter-product-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 7rem;
  }
  .mobile-filter-button{
    display: flex;
    margin-bottom: 2rem ;
    justify-content: center;
  }
  .mobile-filter-backdrop{
      position: fixed;
      top: 0%;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 5;
    }
  
  .mobile-filter{
    background-color:var(--bg-color);
    width: 70%;
    overflow-y:scroll ;
    height: 100vh;
    margin: auto;
    border: 1px solid var(--bg-btn-signup-color);
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 4px;
    
  }
}