/* utitlity Classes */

/* utitlity Classes end */

.nav-wrapper {
  position: sticky;
  padding: var(--spacing-md);
  background: var(--white-color);
  top: 0;
  z-index: 4;
  gap: 4rem;
}
.logo {
  gap: 2rem;
}

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.search-bar-icon{
  position: absolute;
  right: 20px;
  cursor: pointer;
}

.search-bar > input {
  width: 100%;
  padding: 8px 12px;
  background-color: var(--bg-input-color);
  border: 2px solid transparent;
}

.auth-login {
  text-decoration: none;
  font-weight: bold;

  display: flex;
  align-items: center;

  height: 2.5rem;
}

.auth-signup {
  display: flex;
  align-items: center;

  height: 2.5rem;
  text-decoration: none;
  font-weight: bold;

  color: var(--heading-text-color);
  background: var(--bg-btn-signup-color);
}

.link-btn {
  text-decoration: none;
  color: var(--heading-text-color);
  white-space: nowrap;
  font-weight: 500;
}
.font-b {
  font-weight: bold;
}

.hero-section {
  position: relative;
}
.hero {
  background: var(--secondary-bg-color);

  width: 100%;
  height: 550px;

  border-radius: 10px;
  padding: var(--spacing-md);
}

.hero-text {
  position: absolute;
  top: 30%;

  width: 100%;
}
.hero-text > h1 {
  text-align: center;
  font-size: clamp(2rem, 9vw, 4rem);
  font-weight: 700;

  color: var(--heading-text-color);

  line-height: 1.07;
  letter-spacing: -0.025em;
}
.hero-text > a {
  margin-top: 4rem;
  display: inline-block;

  width: 10rem;

  background-color: var(--white-color);
  color: var(--heading-text-color);

  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.pd-container {
  padding: 0 5rem;
  margin-top: var(--spacing-lg);
}

.pd-container > h1 {
  margin: calc(var(--spacing-xl) * 2) 0;

  color: var(--heading-text-color);
}
.categories-wrapper {
  gap: var(--spacing-xl);
}

.categories-wrapper > div {
  border-radius: 4px;

  overflow: hidden;
  position: relative;

  width: 15rem;
  height: 20rem;
}
.categories-item {
  background: var(--secondary-bg-color);
}
.categories-item > a {
  display: block;

  height: 100%;

  background: transparent;
}
.categories-item > a > img {
  object-fit: cover;

  width: 100%;
  height: 100%;

  transition: 0.3s ease-in-out 0s;
  backface-visibility: hidden;
}

.categories-item > a > img:hover {
  transform: scale(1.1);
}

.item-btn {
  bottom: 10%;
  left: 0;
  position: absolute;

  width: 100%;
  cursor:pointer;
  display: flex;
  justify-content: center;
}

.item-btn > span{
  display: flex;
  justify-content: center;
  align-items: flex-end;

  color: var(--heading-text-color);
  background: var(--white-color);

  padding: 0.7rem 1rem;
  border-radius: 4px;

  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bolder;
}
.pd-container {
  margin: calc(var(--spacing-xl) * 2) 0;
}

.pd-nav {
  margin: var(--spacing-xl) 0;
  color: var(--heading-text-color);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.pd-badge {
  background: var(--white-color);

  border-radius: 50%;
}

.pd-img {
  border-radius: 10px;
}

.pd-card-btn {
  width: 100%;
}
.pd-card-btn > button {
  width: 100%;
  font-weight: 700;
  font-family: "Poppins";
}

.card-heading {
  font-size: var(--font-size-sm);
}

.nav-burger {
  display: none;
}
.navbar-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.navbar-menu-items {
  list-style-type: none;
  width: 15rem;
  height: 100vh;
  border-radius: 4px;
}
.navbar-menu-items > ul > * + * {
  list-style-type: none;

  margin: var(--spacing-md) 2rem;
}

.navbar-menu-items > ul > * + *:hover {
  text-decoration: underline;
}

.nav-items-head {
  gap: 2rem;
  background: var(--bg-color-nav);

  padding: var(--spacing-md) 2rem;
}

@media (max-width: 700px) {
  .logo-text,
  .nav-action-wrapper {
    display: none;
  }
  .flex-gap {
    gap: 0.5rem;
  }
  .search-bar > input {
    width: 100%;
  }

  .nav-burger {
    display: block;
  }
}
