@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://lightt-ui.netlify.app/lightui.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style-type: none;
}

:root {
  /* colors */
  --secondary-bg-color: #ff99dc;
  --bg-color: #f7f7f7;
  --white-color: #ffff;
  --bg-input-color: #f2f2f6;
  --bg-color-nav: #f2f2f6;
  --heading-text-color: #333333;
  --bg-btn-signup-color: #ececec;
}

body {
  font-family: "Poppins";
  background: var(--bg-color);
}

.app{
      min-height: calc(100vh - 5rem);
}
